*{
	box-sizing: border-box;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('./fonts/opensans-extrabold.eot');
    src: url('./fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-extrabold.woff2') format('woff2'),
         url('./fonts/opensans-extrabold.woff') format('woff'),
         url('./fonts/opensans-extrabold.svg#open_sansextrabold') format('svg');
}

@font-face{
font-family: 'opensans_regular';
    src: url('./fonts/opensans-regular.eot');
    src: url('./fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-regular.woff2') format('woff2'),
         url('./fonts/opensans-regular.woff') format('woff'),
         url('./fonts/opensans-regular.svg#opensans_regular') format('svg');
}

body{
	margin: 0;
	padding: 0;
}

.container{
	width: 90%;
	margin: auto;
}

#header-background{
	background-image: url(img/Fondo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 90px;
}



.toggle-menu{
	float: right;
	margin-top: 30px;
}

.menu-desktop.visible {
    height: 285px;
}

.menu-desktop {
    background-color: #d03b40;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 20px;
    height: 0;
    overflow: hidden;
    transition: 0.5s height;
}

.menu-desktop ul{
	padding-left: 0;
}

.menu-desktop a{
	text-decoration: none;
	color: #ded6c0;
	display: block;
	border-bottom: 1px solid #ded6c0;
	padding: 15px 20px;
	font-size: 16px;
	font-family: 'open_sansextrabold';
}

h1{
	font-size: 30px;
	color: #f5f0ed;
	font-family: 'open_sansextrabold';
	text-align: center;
}

h1:after{
	content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: #f5f0ed;
    margin: 15px auto;
}

.principal p{
	font-family: 'opensans_regular';
	font-size: 16px;
	text-align: center;
	color: #f5f0ed;
	padding: 20px;
}

.logo{
	margin-top: 25px;
}

.container-header{
	height: 100px;
}

.col-1 p{
	margin: 0;
}

.col-2 p{
	margin: 0;
}

h3{
	margin: 0;
}

.col-1{
	background-color: #d2393c;
	color: #ded6bf;
}

.col-2{
	background-color: #ded6bf;
	color: #d2393c;
}

.col{
	width: 100%;
	text-align: center;
	padding:  54px 16px 54px 16px;
}

.col h3{
	font-family: 'open_sansextrabold';
	font-size: 24px;
}

.col p{
	font-family: 'opensans_regular';
	font-size: 16px;
	margin-top: 34px;
}

.information-2{
	background-image: url(img/Fondo2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
}

.information-2{
	text-align: center;
	color: #f5f0ed;
	padding-top: 75px;
	padding-bottom: 75px;
}

.information-2 h2{
	margin: 0;
	font-family: 'open_sansextrabold';
	font-size: 30px;
}

.information-2 h2:after{
	content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: #fff;
    margin: 15px auto;
}

.information-2 p{
	font-family: 'opensans_regular';
	font-size: 16px;
	margin-top: 19px;
	margin-bottom: 40px;
}

.information-2 a{
	text-decoration: none;
	color: #f5f0ed;
	font-family: 'opensans_regular';
	font-size: 14px;
	border: 3px solid #fff;
	padding: 15px;
	transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
}

.information-2 a:hover{
	background-color: #d2393c;
}

.recipes{
	background-color: #f5f0ed;
	overflow: hidden;
	padding-bottom: 40px;
}
.ingredients{
	width: 100%;
	float: left;
	text-align: center;
}

.ingredients img{
	width: 100px;
	margin-top: 45px;
}

.ingredients h3{
	font-family: 'open_sansextrabold';
	font-size: 24px;
	color: #3c3c3b;
	text-align: left;
}

.ingredients p{
	font-family: 'opensans_regular';
	font-size: 16px;
	color: #3c3c3b;
	text-align: left;
}

.col-contacto{
	width: 100%;
	text-align: center;
	padding-bottom: 58px;
	padding-top: 58px;
}

.col-contacto h3{
	font-size: 24px;
	font-family: 'open_sansextrabold';
}

.col-contacto p{
	font-size: 16px;
	font-family: 'opensans_regular';
	margin-top: 30px;
	padding: 10px;
}

.color-email,
.color-map{
	font-family: 'open_sansextrabold';
}

.color-map{
	text-decoration: none;
	color: #ded6bf;
}

footer{
	background-color: #251d1b;
	text-align: center;
	padding-top: 34px;
	padding-bottom: 34px;
}

.footer-col p{
	margin: 0;
	font-family: 'opensans_regular';
	font-size: 16px;
	color: #f5f0ed;
}

.autor{
	color: #d2393c;
	text-decoration: none;
	font-family: 'open_sansextrabold';
}

@media screen and (min-width: 758px){
	h1{
		font-size: 44px;
	}

	.principal p{
		padding: 0px 100px 0px 100px;
	}

	.principal{
		padding-top: 50px;
		padding-bottom: 90px;
	}

	.information p{
		padding: 0px 80px 0px 80px;
	}

	.col h3{
		font-size: 28px;

	}

	.information-2 {
	    background-position: center;
	}
	.information-2 {
	    padding-top: 165px;
	    padding-bottom: 165px;
	}

	.information-2 h2{
		font-size: 44px;
	}

	.information-2 p {
	    margin-bottom: 50px;
	    padding-left: 70px;
	    padding-right: 70px;
	}

	.information-2 a {
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.ingredients {
	    width: 48%;
	    margin: 1%;
	    min-height: 200px;
	}

	.ingredients img {
	    width: 120px;
	}

	.ingredients h3 {
	    text-align: center;
	    margin-top: 10px;
	}

	.ingredients p {
	    text-align: center;
	}

	.col-contacto h3 {
	    font-size: 28px;
	}
}

@media screen and (min-width: 1000px){

	.toggle-menu{
		display: none; 
	}

	.menu-desktop {
	    position: static;
	    display: inline-block;
	    float: right;
	    background-color: transparent;
	    height: auto;
	    margin: 0;
	}


	.menu-desktop ul{
		padding-left: 0;
	}

	.menu-desktop ul li{
		display: inline-block;
		margin-left: 20px;
	}

	.menu-desktop ul li a{
		color: #f5f0ed;
		font-family: 'open_sansextrabold';
		font-size: 16px;
		text-decoration: none;
		border: none;
		padding: 0;
		margin-top: 32px;
		transition: 0.3s linear;
		-webkit-transition: 0.3s linear;
		-moz-transition: 0.3s linear;
		-o-transition: 0.3s linear;
		-ms-transition: 0.3s linear;
	}

	.menu-desktop ul li a:hover{
		color: #d2393c;
	}

	.principal p {
    	padding: 0px 240px 0px 240px;
	}

	.col {
	    width: 50%;
	    float: left;
	    padding: 134px 16px 134px 16px;
	}

	.col h3 {
    	padding-left: 30px;
    	padding-right: 30px;
	}

	.information p {
    	padding: 0px 40px 0px 40px;
	}

	.clearfix:before,
	.clearfix:after {
	 content: " ";
	 display: table;
	 clear: both;
	}

	.information-2 p {
	    padding-left: 140px;
	    padding-right: 140px;
	}

	.recipes {
	    padding-bottom: 60px;
	    padding-top: 60px;
	}
	.ingredients {
	    width: 48%;
	    margin: 1%;
	    min-height: 200px;
	}

	.ingredients img {
		float: left;
		width: 170px;
		margin-right: 30px;
		margin-top: 0;
	}

	.ingredients h3 {
	    text-align: left;
	    margin-top: 0px;
	}
	.ingredients p {
    	text-align: left;
	}

	.col-contacto {
	    width: 50%;
	    float: left;
	}

}
